---
---

@import "{{ site.theme }}";

p {
    overflow-wrap:break-word;
    word-wrap:break-word;
}

header, footer {
    background-color: #44004e
}

#forkme_banner {
    background-color: #000000
}

h1, h2 {
    color: #5200c6
}

a {
    color: #00a0cc
}

strong {
    color:#44004e
}